.vscode/
.env
.cursorignore
.venv/

.DS_Store
*.DS_Store

__pycache__
.ipynb_checkpoints

!__init__.py

**cache*
!*cache.py

notes.txt

wandb
logs

nlpka/tools/fb/lid.176.bin

nlpka/datasets/storage/
nlpka/tokenizers/storage/
nlpka/models/storage/
nlpka/evaluations/storage/

Polyglot_Prompt/